*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: auto;
}
 .main-header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 5px;
 }
 .img{
     width: 60px;
 }

 .right-section{
     display: flex;
     align-items: center;

 }
 .right-section ul{
     list-style: none;
     display: flex;
 }
 .road-assistance{
     display: flex;
    padding-left: 20px;
 }
 .right-section ul li {
     margin-right: 20px;
 }
 .right-section ul li a{
     text-decoration: none;
     color: #000;
 }
 .right-section .navigation{
     border-right: 2px solid #ccc;
 }
 .road-assistance .icon {
     margin-right: 10px;
 }

.flex{
    display: flex;
} 
#hero-section .text-section{
    width: 45%;

} 
#hero-section .image-section{
    width: 55%;

}
#hero-section, #quote-section{
    padding: 80px 0;
}

#hero-section .image-section{
    background-image:url(../img/Header\ Image.png);
    background-size: cover;
    background-position: center;
    min-height: 68vh; 
}
.text-section h1 {
    font-size: 64px;
}
.orange-btn{
    background: orangered;
    border-radius: 12px;
    padding: 16px 40px;
    font-size: 18px;
    margin-top: 35px;
    display: inline-block;
    color: #fff;
    text-decoration: none;


}
.time-section {
    display: flex;
    align-items: center;
    margin-top: 30px;

    width: 100%;
}
.time-section .image-box{
    width: 5%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-section .time-text{
    width: 100%;
}
.light-grey{
    color: #939191;
}

#quote-section{
    background: #E2E6E9;
}
#quote-section .left-section, #quote-section .right-form-section{
width: 45%;
}
#quote-section ul{
    list-style: none; 
}
#quote-section ul li{
margin-bottom: 20px;
}

#quote-section .left-section h2{
    margin-bottom: 30px;
    font-size: 48px;
}
#quote-section .left-section .image-box{
    width: 5%;
    margin-right: 10px;
}
#quote-section .left-section .image-box img{
    width: 100%;
}
#quote-section .left-section .text-box{
    width: 50%;
}
#quote-section .left-section .text-box h5{
    font-size: 24px;
    margin-bottom: 5px;

}
#quote-section .right-form-section h3{
    font-size: 48px;
}
#quote-section .right-form-section input{
    width: 100%;
    padding: 10px;
}
    

.first-section h6{
    font-size: 58px;
    margin-bottom: 15px;

}
.first-section p{
    font-size: 16px;
}
.first-section{
    margin-right: 150px;
    margin-top: 100px;

}

.second-section{
    margin-top: 70px;
}
.second-section ul li {
    display: flex;
    
}
.second-section ul li .image-box{
margin-right: 30px;

}
.second-section ul li p{
    margin-top: 10px;
    margin-bottom: 20px;
    
    


}
.second-section ul li img {
    width: 35px;
}
.second-section ul li h5{
    font-size: 32px;
}
#service-section{
    text-align: center;
    background: #f2f2f2;
    margin-top: 100px;
}
#service-section .service-text p{
    padding-top: 70px;
    padding-bottom: 20px;
    font-weight: 600px;
}
#service-section .service-text h1{
    padding-bottom: 30px;
    font-size: 50px;
}
#service-section .image-box img{
margin: 50px;
}
#service-section .service-container .learn{
text-align: right;
padding-right: 125px;
padding-bottom: 50px;
}
#contact-section{
    background: #F2F2F2;
}
#contact-section .contact-box {
    height: 40vh;
    display: flex;
}
#contact-section .contact-box .full-car{
    width: 55%;
    height: 40vh;
    background-image: url(../img/Image\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#contact-section .contact-box .car-charger{
    width: 45%;
    height: 40vh;
    background-image: url(https://i.postimg.cc/kMKPrLdB/car-charger.jpg);
    background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
#contact-section .contact-box .write-up{
    width: 40%;
     height: 40vh;
     background-color: #FF6433;
     position: absolute;
     left: 20%;
}
#contact-section .contact-box .write-up h2{
    color: #fff;
     font-weight: 500;
     font-size: 38px;
     padding-top: 70px;
     font-family: sans-serif;
     text-align: center;
}
.black-btn{
    background: #1E1B1B;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 35px;
    display: inline-block;
    color: #fff;
    
}
#contact-section .contact-box .write-up a{
    margin-left: 70px;
}
#contact-section .number-section{
    height: 15vh;
    padding: 0px 20px 0px 20px;

}
#contact-section .number-section .number{
    display: flex;
    justify-content: space-around;
    color: #661CE7;
    font-size: 25px;
    padding-top: 15px;
}
#contact-section .number-section .words{
    display: flex;
     justify-content: space-around;
     color: #3a3636;
     font-weight: 600px;
}
#brands{
    background-color: #b8b8b8;
    
}
 

.brand-header{
    text-align: center;
    padding-top: 100px;
    font-size: 48px;
}
#brands .brand-form .container{
    padding-bottom: 40px;
}
.brand-container-too{
   padding-bottom: 200px;
}